# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
# *.a
# *.lib

# Executables
*.exe
*.out
*.app

build/**
bin/**



project/wasm/build/**
project/wasm/web/**
project/wasm/inc/freetype/**
project/wasm/inc/glm/**
project/wasm/inc/ft2build.h

other/space_coordinates/build/**
other/space_coordinates/bin/**

.vscode/**